/* Variables CSS */
:root {
    /* Couleurs */
    --jaune: rgb(251, 210, 54);
    --rouge: rgb(255, 65, 5);
    --vert: rgb(0, 106, 93);
    --bleu: rgb(0, 20, 128);
    --rose: rgb(245, 168, 193);


    --font-primary: 'Novaro', sans-serif;
    --font-secondary: 'Omnes', sans-serif;
        
}
